@model Car
<form method="post">
    <div>
        <label asp-for="LicencePlate"></label>
        <input asp-for="LicencePlate" class="form-control" />
        <span asp-validation-for="LicencePlate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DateTime"></label>
        <input asp-for="DateTime" class="form-control" type="date"/>
        <span asp-validation-for="DateTime" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="OwnerId"></label>
        <input asp-for="OwnerId" class="form-control" />
        <span asp-validation-for="OwnerId" class="text-danger"></span>
    </div>

    <button type="submit" class=" btn btn-primary">Create new Car</button>

    <button asp-controller="Car" asp-action="Index" class="btn btn-secondary">Go Back</button>
</form>
