@model List<Car>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Car-Dealer </h1>
    <p>Manage all you cars in one place.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello, @User.Identity.Name. ¡Welcome again!</p>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">My Account</a>
        <a asp-area="Identity" asp-page="/Account/Logout" class="btn btn-secondary">Logout</a>
    }
    else
    {
    <div class="container my-5">
    <!-- Cards -->
      <div class="row">
    @foreach(var car in Model)
    {               
      <!-- Ficha 1 -->
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="row g-0">
            <div class="col-md-12">
              <img src="https://via.placeholder.com/400x300" class="img-fluid rounded-start" alt="Imagen del vehículo">
            </div>
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title">@car.Model</h5>
                <p class="card-text"><strong>Year</strong> @car.DateTime.Year</p>
                <p class="card-text"><strong>Color:</strong>@car.Color</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    </div>
    </div>


    }
</div>
